<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IG Parser Syntax Guide</title>
    <link rel="shortcut icon" type="image/x-icon" href="/css/favicon.ico">
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<h3>Brief Overview of the IG Script Syntax for the Encoding of Institutional Statements in the IG Parser</h3>
<p>&nbsp;</p>
<form>
    <b>Note: A comprehensive overview of the IG Script notation supported by the IG Parser beyond the brief overview below (as well as resources covering the conceptual foundations of the IG 2.0 more generally) can be found <a target="_blank" href="https://github.com/chrfrantz/IG-Parser/blob/main/README.md">here (opens new tab)</a>.</b>
    <br><br>
    {{.CodedStmtHelp}}
</form>

</body>
</html>