<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IG Parser Syntax Guide</title>
    <link rel="shortcut icon" type="image/x-icon" href="/css/favicon.ico">
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<h3>Brief Overview of the IG Script Syntax for the Encoding of Institutional Statements</h3>
<p>&nbsp;</p>
<form>{{.CodedStmtHelp}}
<br><br>
More details on the use of the IG Script notation in the IG Parser can be found <a target="_blank" href="https://github.com/chrfrantz/IG-Parser/blob/main/README.md">here (opens new tab)</a>.
</form>

</body>
</html>