<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG-Script Annotation Parser</title>
    <link rel="stylesheet" href="/css/default.css">
</head>

<body>
    <script>
        function CopyToClipboard(containerid) {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(containerid));
                range.select().createTextRange();
                document.execCommand("copy");
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().addRange(range);
                document.execCommand("copy");
                //alert("Text has been copied")
            }
        }

        function check(target) {
            let offset = 0
            target.style.height = 'auto';
            target.style.height = target.scrollHeight + offset + 'px';

        }
    </script>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>IG-Script Parser</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="form">
        <form method="POST">
            <label>Original Statement:</label><textarea name="rawStatement" onfocusin="check(this)" onkeyup="check(this)">{{.RawStmt}}</textarea><br />
            <label>Annotated Statement:</label><textarea name="annotatedStatement" onfocusin="check(this)" onkeyup="check(this)">{{.CodedStmt}}</textarea><br />
            <label>Statement ID:</label><input name="stmtId" type="number" value="{{.StmtId}}"><br />
            <input value="Generate statements" type="submit">
            {{if .Error}}
                <div class="error">
                    <label>Error: {{.Message}}</label>
                </div>
            {{end}}
            {{if ne .TransactionId ""}}
                <div class="transactionId">
                    <label>Operation ID: {{.TransactionId}}</label>
                </div>
            {{end}}
        </form>
    </div>

    {{if .Success}}
        <div class="output">
            <h3>Google Sheets Output:</h3><br />
            <button class="button1" id="button1" onclick="CopyToClipboard('output')" width="100px">Copy generated statements to clipboard</button>

            <pre>
                <div id="output" class="divtext" contentEditable>{{.TabularOutput}}</div>
            </pre>
        </div>
    {{end}}
</body>

</html>