<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG Parser</title></br>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/default.css">
</head>

<body>
    <script>
        function CopyToClipboard(containerid) {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(containerid));
                range.select().createTextRange();
                document.execCommand("copy");
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().addRange(range);
                document.execCommand("copy");
                //alert("Text has been copied")
            }
        }

        function check(target) {
            let offset = 0
            target.style.height = 'auto';
            target.style.height = target.scrollHeight + offset + 'px';

        }
    </script>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>IG Parser</h1>
    <h2>A Parser for Institutional Statements encoded in the IG-Script Notation introduced as part of the Institutional Grammar 2.0</h2>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="form">
        <form method="POST">
            <span data-text="{{.RawStmtHelp}}" class="tooltip">Original Statement:</span>
            <textarea name="rawStatement" onfocusin="check(this)" onkeyup="check(this)">{{.RawStmt}}</textarea><br />

            <span data-text="{{.CodedStmtHelp}}" class="tooltip">Encoded Statement:</span>
            <textarea name="annotatedStatement" onfocusin="check(this)" onkeyup="check(this)">{{.CodedStmt}}</textarea><br />

            <span data-text="{{.StmtIdHelp}}" class="tooltip">Statement ID:</span>
            <input name="stmtId" type="number" value="{{.StmtId}}"><br />

            <span data-text="{{.ParametersHelp}}" class="tooltip">Parameters:</span>
            </br></br>
            Human-readable output (dynamic output schema; not suitable for computational processing) (default: off)<input name="dynamicOutput" type="checkbox" {{.DynamicOutput}}>
            Include IG Logico annotations in output (default: off)<input name="annotations" type="checkbox" {{.IncludeAnnotations}}><br />


            <input value="Generate tabular output" type="submit">
            {{if .Error}}
                <div class="error">
                    <label>Error: {{.Message}}</label>
                </div>
            {{end}}
            {{if ne .TransactionId ""}}
                <div class="transactionId">
                    <label>Request ID: {{.TransactionId}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="tooltip"
                           href="mailto:ig-parser@frantz.cloud?subject=%5BIG-Parser%5D%20%5BRequest%20ID%3A%20{{.TransactionId}}%5D&body=Please%20replace%20the%20body%20text%20with%20the%20observations%2C%20questions%2C%20or%20suggestions%20you%20have%20based%20on%20your%20experience%20with%20IG-Parser.%20%20If%20you%20observed%20errors%2C%20please%20provide%20a%20description%20(e.g.%2C%20specifying%20what%20you%20expected%20to%20see%2C%20and%20what%20you%20observed%3B%20error%20messages%20you%20received%2C%20etc.).%20%20Please%20also%20feel%20free%20to%20provide%20open%20feedback%20or%20suggestions%20for%20further%20improvement."
                           data-text="{{.ReportHelp}}">Report error or other observations</a>
                    </label>
                </div>
            {{end}}
        </form>
    </div>

    {{if .Success}}
        <div class="output">
            <h3>Google Sheets Output:</h3><br />
            <button class="button1" id="button1" onclick="CopyToClipboard('output')" width="100px">Copy generated statements to clipboard</button>

            <pre>
                <div id="output" class="divtext" contentEditable>{{.TabularOutput}}</div>
            </pre>
        </div>
    {{end}}
</body>

</html>