html, body {
    min-height: 100%;
}

body, div, form, input, select, output, textarea, p {
    padding: 0;
    margin: auto;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    display: block;
    alignment: center;
}

h1 {
    margin: auto;
    line-height: 42px;
    font-size: 42px;
    color: #000;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: auto;
    line-height: 42px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #8c8787;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
}

.output {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
}

.button1 {
    width: 50%;
}

.error {
    color: red;
}

.banner {
    position: relative;
    height: 300px;
    /*background-image: url("/uploads/demo.jpeg");*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
    resize: vertical;
    display: block;
}

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #d6e0f5;
}

.item {
    position: relative;
    margin: 10px 0;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6eb8dd;
}

@media (min-width: 568px) {
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Currently unused */
.smallentry {
    width: 10%;
    /*text-align: left;*/
    /*alignment: left;*/
    position: relative;
    left: -44.5%; /* Position field left, relative to center */
}

/* Source: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
    white-space: pre-line; /* ensures the interpretation of line breaks via \n */
    display: inline-block;
    content: attr(data-text); /* here's the magic */
    position:absolute;

    /* vertically center */
    top:50%;
    transform:translateY(-40%);

    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */

    /* basic styles */
    width:1000px;
    padding:10px;
    border-radius:10px;
    background:#000;
    color:#fff;
    text-align:left;

    display:none; /* hide by default */
}

.tooltip:hover:before {
    display:block;
}

/*
.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 500px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }*/
