<style>
html, body {
    min-height: 100%;
}
body, div, form, input, select, textarea, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    position: absolute;
    margin: 0;
    line-height: 42px;
    font-size: 42px;
    color: #000;
    z-index: 2;
}
.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
}
.banner {
    position: relative;
    height: 300px;
    background-image: url("/uploads/demo.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
input[type="date"] {
    padding: 4px 5px;
}
select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #d6e0f5;
}
.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #6eb8dd;
}
@media (min-width: 568px) {
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
</style>