html, body {
    min-height: 100%;
}

body, form, input, select, output, textarea, p {
    padding: 0;
    margin: auto;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    display: block;
}

/*
Headers used on main application page
 */

h1 {
    margin: auto;
    line-height: 42px;
    font-size: 42px;
    color: #000;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: auto;
    line-height: 42px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #767474;
    z-index: 2;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*
Header used for help page
 */

h3 {
    margin: auto;
    line-height: 42px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 24px;
    color: #000;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
}

/*
Link styling
 */
a:link {
    color: #666;
}

a:visited {
    color: #666;
}

a:hover {
    color: blue;
}

/*
Output field (for tabular output)
 */
.output {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    display: block;
    margin: auto;
}

/*
Output field (for image download button -- no box shadow)
 */
.outputDownload {
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    display: block;
    margin: auto;
}

/*
Formatting for copy-to-clipboard button
 */
.button1 {
    width: 50%;
}

/*
Formatting for validate button
 */
.button2 {
    width: 100%;
}

/*
Formatting for submit button
 */
.submit{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin: auto;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    /*background-color: #;*/
    line-height: 22px;
    display: block;
    /* Important for spinner */
    position: relative;
    transition: padding-right .3s ease-out;
}

/*
Formatting of error message
 */
.error {
    color: red;
}

.banner {
    position: relative;
    height: 300px;
    /*background-image: url("/uploads/demo.jpeg");*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 10px; /* space to next item */
    vertical-align: middle;
    position: relative;
}

/* Table specification for help page */
th {
    width: 300px;
}

td {
    padding-left: 50px;
}

/* Reserved for parameter fields */
label {
    display: block;
    margin-top: -28px;
    text-indent: 40px;
    padding-bottom: 20px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
    resize: vertical;
    display: block;
}

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #d6e0f5;
}

.item {
    position: relative;
    margin: 10px 0;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6eb8dd;
}

@media (min-width: 568px) {
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Currently unused */
.smallentry {
    width: 10%;
    /*text-align: left;*/
    /*alignment: left;*/
    position: relative;
    left: -44.5%; /* Position field left, relative to center */
}

/* Formats load animation (spinning wheel) for submit button */
.button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

/* Specifies animation for load animation (spinning wheel) */
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Source: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
    white-space: pre-line; /* ensures the interpretation of line breaks via \n */
    display: inline-block;
    content: attr(data-text); /* here's the magic */
    position:absolute;

    font-size: 14px;

    /* vertically center */
    top:50%;
    transform:translateY(-40%);

    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */

    /* basic styles */
    width:650px;
    padding:10px;
    border-radius:10px;
    background:#000;
    color:#fff;
    text-align:center;

    /* foreground positioning */
    z-index: 2;

    display:none; /* hide by default */
}

.tooltip:hover:before {
    display:block;
}

/* ACE Editor */
#editor {
    position: relative;
    width: calc(100% - 12px);
    height: 100px;
    font-size: 16px;
    font-family: monospace, monospace;
    border: 1px solid;
    border-color: lightgrey;
}

/*
Modifications to ace.js (in previous versions, such as 1.14; now exclusively in CSS -- see below):

// Cursor color (to blue)
.ace_cursor {\n  color: blue;\n}\n
// Matching bracket color (to red) and size (wider borders)
.ace_bracket {\n  margin: -1px 0 0 -1px;\n  border: 2px solid rgb(255, 0, 0);\n}\n

 */

/* Colored cursor */
.ace_cursor {
    color: blue !important;             /* Cursor color */
    width: 2px;                         /* Line width */
}

/* Colored bracket matching */
.ace_bracket {
    color: black !important;            /* Bracket text color */
    margin: -1px 0 0 -1px;
    outline: 2px solid red !important;  /* Color of caret (square around symbol) */
}

/*
.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 500px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }*/

/*
Ace.js annotation highlighting:
*/

.ace_Attribute {
    background-color: #8CE8BFFF;
    border-radius: 3px;
}

.ace_Deontic {
    background-color: #8CE8BFFF;
    border-radius: 3px;
}

.ace_Aim {
    background-color: #8CE8BFFF;
    border-radius: 3px;
}

.ace_Direct_Object {
    background-color: #8CE8BFFF;
    border-radius: 3px;
}

.ace_Indirect_Object {
    background-color: #8CE8BFFF;
    border-radius: 3px;
}

.ace_Activation_Condition {
    background-color: #AD85D7FF;
    border-radius: 3px;
}

.ace_Execution_Constraint {
    background-color: #BCAECBFF;
    border-radius: 3px;
}

.ace_Constituted_Entity {
    background-color: #FCD581;
    border-radius: 3px;
}

.ace_Modal {
    background-color: #FCD581;
    border-radius: 3px;
}

.ace_Constitutive_Function {
    background-color: #FCD581;
    border-radius: 3px;
}

.ace_Constituting_Properties {
    background-color: #FCD581;
    border-radius: 3px;
}

.ace_Or_Else {
    background-color: #F292A4;
    border-radius: 3px;
}

.ace_Logical_Operator {
    background-color: #F292A4;
    border-radius: 3px;
}

.ace_Semantic_Annotation {
    background-color: #dfd9d9;
    text-decoration: underline;
    border-radius: 3px;
}

.ace_Attribute_Property {
    background-color: #abc8d3;
    border-radius: 3px;
}

.ace_Direct_Object_Property {
    background-color: #abc8d3;
    border-radius: 3px;
}

.ace_Indirect_Object_Property {
    background-color: #abc8d3;
    border-radius: 3px;
}

.ace_Constituted_Entity_Property {
    background-color: #abc8d3;
    border-radius: 3px;
}

.ace_Constituting_Properties_Properties {
    background-color: #abc8d3;
    border-radius: 3px;
}

.text_tooltip {
    background:#000;
    font-size: 13px;
    color:#fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0 2px 0 2px;
}

.buttons {
    display: inline-block;
    background: #E9E9ED;
    border: 1px solid #ccc;
    width: calc(100% - 12px);
    padding: 0 4px 0 4px;
    border-radius: 3px;
}

.hidden {
   display: none;
}

#visualToggle {
   color: #666;
   text-decoration: underline;
   display: inline-block;
}

#visualToggle:hover {
   color: blue;
   cursor: pointer;
}

/* For the selection buttons */
.button {
    display: inline-block;
    background: #fff;
    color: #666;
    border: 1px solid;
    padding: 0 3px 0 3px;
    margin: 3px 0 3px 0;
    border-radius: 3px;
    cursor: pointer;
}

.ace-tm .ace_marker-layer .ace_selection{
    border-bottom: 2px rgb(82, 75, 76) dotted;
}

/*
Modal styling (dialog html element for displaying information in the editor)
*/
::backdrop {
    background-color: rgba(125, 125, 125, 0.3);
}

:focus {
    outline: 2px solid blue;
}

/* Toggle buttons */
.toggleActive {
    background-color: #000;
    color: #fff;
}

/* Makes the selection mode unavailable for touch users */
@media (pointer: coarse) {
    #selection {
        display: none;
    }
}